src/test/resources/wsdl/circular/service-11-B.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.soap.mule.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="TestService" targetNamespace="http://service.soap.mule.org/">
    <wsdl:import namespace="http://service.soap.mule.org/" location="wsdl/circular/service-11-A.wsdl" />
    <wsdl:message name="echo">
        <wsdl:part element="tns:echo" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="IOException">
        <wsdl:part element="tns:IOException" name="IOException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="EchoException">
        <wsdl:part element="tns:EchoException" name="EchoException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oneWay">
        <wsdl:part element="tns:oneWay" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="uploadAttachmentResponse">
        <wsdl:part element="tns:uploadAttachmentResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="failResponse">
        <wsdl:part element="tns:failResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="downloadAttachment">
        <wsdl:part element="tns:downloadAttachment" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="noParams">
        <wsdl:part element="tns:noParams" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="large">
        <wsdl:part element="tns:large" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoResponse">
        <wsdl:part element="tns:echoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="uploadAttachment">
        <wsdl:part element="tns:uploadAttachment" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="noParamsWithHeaderResponse">
        <wsdl:part element="tns:noParamsWithHeaderResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoWithHeaders">
        <wsdl:part element="tns:echoWithHeaders" name="parameters">
        </wsdl:part>
        <wsdl:part element="tns:headerIn" name="headerIn">
        </wsdl:part>
        <wsdl:part element="tns:headerInOut" name="headerInOut">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoAccountResponse">
        <wsdl:part element="tns:echoAccountResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="fail">
        <wsdl:part element="tns:fail" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoWithHeadersResponse">
        <wsdl:part element="tns:echoWithHeadersResponse" name="result">
        </wsdl:part>
        <wsdl:part element="tns:headerOut" name="headerOut">
        </wsdl:part>
        <wsdl:part element="tns:headerInOut" name="headerInOut">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="noParamsWithHeader">
        <wsdl:part element="tns:noParamsWithHeader" name="parameters">
        </wsdl:part>
        <wsdl:part element="tns:headerIn" name="headerIn">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="noParamsResponse">
        <wsdl:part element="tns:noParamsResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoAccount">
        <wsdl:part element="tns:echoAccount" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="downloadAttachmentResponse">
        <wsdl:part element="tns:downloadAttachmentResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="largeResponse">
        <wsdl:part element="tns:largeResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Soap11Service">
        <wsdl:operation name="echo">
            <wsdl:input message="tns:echo" name="echo">
            </wsdl:input>
            <wsdl:output message="tns:echoResponse" name="echoResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadAttachment">
            <wsdl:input message="tns:uploadAttachment" name="uploadAttachment">
            </wsdl:input>
            <wsdl:output message="tns:uploadAttachmentResponse" name="uploadAttachmentResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oneWay">
            <wsdl:input message="tns:oneWay" name="oneWay">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="echoWithHeaders">
            <wsdl:input message="tns:echoWithHeaders" name="echoWithHeaders">
            </wsdl:input>
            <wsdl:output message="tns:echoWithHeadersResponse" name="echoWithHeadersResponse">
            </wsdl:output>
            <wsdl:fault message="tns:EchoException" name="EchoException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="fail">
            <wsdl:input message="tns:fail" name="fail">
            </wsdl:input>
            <wsdl:output message="tns:failResponse" name="failResponse">
            </wsdl:output>
            <wsdl:fault message="tns:EchoException" name="EchoException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="downloadAttachment">
            <wsdl:input message="tns:downloadAttachment" name="downloadAttachment">
            </wsdl:input>
            <wsdl:output message="tns:downloadAttachmentResponse" name="downloadAttachmentResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="noParams">
            <wsdl:input message="tns:noParams" name="noParams">
            </wsdl:input>
            <wsdl:output message="tns:noParamsResponse" name="noParamsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="noParamsWithHeader">
            <wsdl:input message="tns:noParamsWithHeader" name="noParamsWithHeader">
            </wsdl:input>
            <wsdl:output message="tns:noParamsWithHeaderResponse" name="noParamsWithHeaderResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoAccount">
            <wsdl:input message="tns:echoAccount" name="echoAccount">
            </wsdl:input>
            <wsdl:output message="tns:echoAccountResponse" name="echoAccountResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="large">
            <wsdl:input message="tns:large" name="large">
            </wsdl:input>
            <wsdl:output message="tns:largeResponse" name="largeResponse">
            </wsdl:output>
            <wsdl:fault message="tns:IOException" name="IOException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TestServiceSoapBinding" type="tns:Soap11Service">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="echo">
            <soap:operation soapAction="echoOperationCustomAction" style="document"/>
            <wsdl:input name="echo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadAttachment">
            <soap:operation soapAction="uploadAttachment" style="document"/>
            <wsdl:input name="uploadAttachment">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="uploadAttachmentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oneWay">
            <soap:operation soapAction="oneWay" style="document"/>
            <wsdl:input name="oneWay">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="echoWithHeaders">
            <soap:operation soapAction="echoWithHeaders" style="document"/>
            <wsdl:input name="echoWithHeaders">
                <soap:header message="tns:echoWithHeaders" part="headerIn" use="literal">
                </soap:header>
                <soap:header message="tns:echoWithHeaders" part="headerInOut" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoWithHeadersResponse">
                <soap:header message="tns:echoWithHeadersResponse" part="headerOut" use="literal">
                </soap:header>
                <soap:header message="tns:echoWithHeadersResponse" part="headerInOut" use="literal">
                </soap:header>
                <soap:body parts="result" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EchoException">
                <soap:fault name="EchoException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="fail">
            <soap:operation soapAction="fail" style="document"/>
            <wsdl:input name="fail">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="failResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EchoException">
                <soap:fault name="EchoException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="downloadAttachment">
            <soap:operation soapAction="downloadAttachment" style="document"/>
            <wsdl:input name="downloadAttachment">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="downloadAttachmentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="noParams">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="noParams">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="noParamsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="noParamsWithHeader">
            <soap:operation soapAction="noParamsWithHeader" style="document"/>
            <wsdl:input name="noParamsWithHeader">
                <soap:header message="tns:noParamsWithHeader" part="headerIn" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output name="noParamsWithHeaderResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoAccount">
            <soap:operation soapAction="echoAccount" style="document"/>
            <wsdl:input name="echoAccount">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoAccountResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="large">
            <soap:operation soapAction="large" style="document"/>
            <wsdl:input name="large">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="largeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IOException">
                <soap:fault name="IOException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
