src/test/resources/wsdl/circular/service-11-A.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.soap.mule.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="TestService" targetNamespace="http://service.soap.mule.org/">
    <wsdl:import namespace="http://service.soap.mule.org/" location="wsdl/circular/service-11-B.wsdl" />
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.soap.mule.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.soap.mule.org/">
            <xs:import namespace="http://service.util.soap.mule.org/types" schemaLocation="types.xsd" />
            <xs:element name="downloadAttachment" type="tns:downloadAttachment"/>
            <xs:element name="downloadAttachmentResponse" type="tns:downloadAttachmentResponse"/>
            <xs:element name="echo" type="tns:echo"/>
            <xs:element name="echoAccount" type="tns:echoAccount"/>
            <xs:element name="echoAccountResponse" type="tns:echoAccountResponse"/>
            <xs:element name="echoResponse" type="tns:echoResponse"/>
            <xs:element name="echoWithHeaders" type="tns:echoWithHeaders"/>
            <xs:element name="echoWithHeadersResponse" type="tns:echoWithHeadersResponse"/>
            <xs:element name="fail" type="tns:fail"/>
            <xs:element name="failResponse" type="tns:failResponse"/>
            <xs:element name="large" type="tns:large"/>
            <xs:element name="largeResponse" type="tns:largeResponse"/>
            <xs:element name="noParams" type="tns:noParams"/>
            <xs:element name="noParamsResponse" type="tns:noParamsResponse"/>
            <xs:element name="noParamsWithHeader" type="tns:noParamsWithHeader"/>
            <xs:element name="noParamsWithHeaderResponse" type="tns:noParamsWithHeaderResponse"/>
            <xs:element name="oneWay" type="tns:oneWay"/>
            <xs:element name="uploadAttachment" type="tns:uploadAttachment"/>
            <xs:element name="uploadAttachmentResponse" type="tns:uploadAttachmentResponse"/>
            <xs:complexType name="echo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="uploadAttachment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attachment" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="uploadAttachmentResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="result" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="oneWay">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echoWithHeaders">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echoWithHeadersResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echoFault">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="fail">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="failResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="downloadAttachment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fileName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="downloadAttachmentResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attachment" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="noParams">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="noParamsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="noParamsWithHeader">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="noParamsWithHeaderResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echoAccount">
                <xs:sequence>
                    <xs:element minOccurs="1" name="account" type="tns:account"/>
                    <xs:element minOccurs="1" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="account">
                <xs:sequence>
                    <xs:element minOccurs="0" name="clientName" type="xs:string"/>
                    <xs:element minOccurs="1" name="id" type="xs:long"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="startingDate" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echoAccountResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="account" type="tns:account"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="large">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="largeResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="largeResponse" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="EchoException" nillable="true" type="tns:echoFault"/>
            <xs:element name="IOException" type="tns:IOException"/>
            <xs:complexType name="IOException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="headerIn" nillable="true" type="xs:string"/>
            <xs:element name="headerInOut" nillable="true" type="xs:string"/>
            <xs:element name="headerOut" nillable="true" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="TestService">
        <wsdl:port binding="tns:TestServiceSoapBinding" name="TestPort">
            <soap:address location="http://localhost:1231/server"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
