src/test/resources/wsdl/namespaces.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns1="http://namespaces.soaplite.com/perl"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://namespaces.soaplite.com/perl"
                  targetNamespace="http://namespaces.soaplite.com/perl">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://namespaces.soaplite.com/perl">
            <element name="ArrayOfString" type="tns1:ArrayOfString"/>
            <element name="oaBase" type="tns1:oaBase"/>
            <element name="oaAddress" type="tns1:oaAddress"/>
            <element name="ArrayOfoaBase" type="tns1:ArrayOfoaBase"/>
            <element name="string" type="xsd:string"/>
            <complexType name="ArrayOfString">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="string" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="oaBase">
                <sequence>
                </sequence>
            </complexType>
            <complexType name="oaAddress">
                <complexContent>
                    <extension base="tns1:oaBase">
                        <sequence>
                            <element minOccurs="0" name="salutation" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="mobile" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="state" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="email" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="addr2" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="city" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="fax" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="contact_id" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="addr1" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="id" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="middle" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="country" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="first" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="last" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="phone" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="zip" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="addr4" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="addr3" nillable="false" type="xsd:string"/>
                            <element minOccurs="0" name="attributes" nillable="false" type="tns1:ArrayOfoaBase"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="ArrayOfoaBase">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="oaBase" type="tns1:oaBase"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>

    <wsdl:message name="echo">
        <wsdl:part name="parameters" element="tns:oaAddress"/>
    </wsdl:message>

    <wsdl:portType name="TestPortType">
        <wsdl:operation name="echo">
            <wsdl:input message="tns:echo"/>
            <wsdl:output message="tns:echo"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="TestPortBinding" type="tns:TestPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="echo">
            <soap:operation soapAction="echoOperation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="TestService">
        <wsdl:port name="TestPort" binding="tns:TestPortBinding">
            <soap:address location="http://localhost:8082/simpleService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
