src/test/resources/wsdl/with-choice-types.wsdl

<wsdl:definitions
	targetNamespace="http://vlp.ee.services.dsh.cms.hhs.gov/wsdl" 
	xmlns:tns="http://vlp.ee.services.dsh.cms.hhs.gov/wsdl"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:vlp="http://vlp.ee.sim.dsh.cms.hhs.gov">

	<wsdl:types>
		<xsd:schema targetNamespace="http://vlp.ee.sim.dsh.cms.hhs.gov" elementFormDefault="qualified"
					xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vlp="http://vlp.ee.sim.dsh.cms.hhs.gov" version="1.0">

			<xsd:element name="InitialVerificationRequest" type="vlp:InitialVerificationRequestType"/>

			<xsd:element name="InitialVerificationResponse" type="vlp:InitialVerificationResponseType"/>

			<xsd:complexType name="InitialVerificationRequestType">
				<xsd:sequence>
					<xsd:element ref="vlp:InitialVerificationRequestSet" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="InitialVerificationRequestSetType">
				<xsd:sequence>
					<xsd:element ref="vlp:DHSID"/>
					<xsd:element ref="vlp:FirstName"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="InitialVerificationResponseType">
				<xsd:choice>
					<xsd:element ref="vlp:ResponseMetadata"/>
					<xsd:element ref="vlp:InitialVerificationResponseSet"/>
				</xsd:choice>
			</xsd:complexType>

			<xsd:complexType name="InitialVerificationResponseSetType">
				<xsd:sequence>
					<xsd:element ref="vlp:InitialVerificationIndividualResponse" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="ResponseMetadata" type="xsd:string"/>
			<xsd:element name="InitialVerificationIndividualResponse" type="xsd:simpleType"/>
			<xsd:element name="InitialVerificationResponseSet" type="xsd:string"/>
			<xsd:element name="DHSID" type="xsd:simpleType"/>
			<xsd:element name="FirstName" type="xsd:string"/>
			<xsd:element name="InitialVerificationRequestSet" type="xsd:string"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="VerifyLawfulPresenceRequest">
		<wsdl:part name="body" element="vlp:InitialVerificationRequest"/>
	</wsdl:message>

	<wsdl:message name="VerifyLawfulPresenceResponse">
		<wsdl:part name="body" element="vlp:InitialVerificationResponse" />
	</wsdl:message>
	
	<wsdl:portType name="VerifyLawfulPresencePortType">
		<wsdl:operation name="InitialVerificationV37">
			<wsdl:input message="tns:VerifyLawfulPresenceRequest" />
			<wsdl:output message="tns:VerifyLawfulPresenceResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="VerifyLawfulPresenceSoapBinding" type="tns:VerifyLawfulPresencePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="InitialVerificationV37">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="VerifyLawfulPresenceServiceV37">
		<wsdl:documentation>HIX DSH Verify Lawful Presence Service</wsdl:documentation>
		<wsdl:port name="VerifyLawfulPresencePortV37" binding="tns:VerifyLawfulPresenceSoapBinding">
			<soap:address location="http://localhost:8080/VerifyLawfulPresenceServiceV37" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
