src/test/resources/schemas/complex-embedded-schema.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:httpbind="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wd-wsdl="urn:com.workday/bsvc/Tenant_Data_Translation" xmlns:mimebind="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:nyw="urn:com.netyourwork/aod" xmlns:wd="urn:com.workday/bsvc" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:com.workday/bsvc">
    <xsd:element name="Validation_Fault" type="wd:Validation_FaultType"/>
    <xsd:element name="Processing_Fault" type="wd:Processing_FaultType"/>
    <xsd:element name="Get_Translatable_Tenant_Data_Public_Request" type="wd:Get_Translatable_Tenant_Data_Public_RequestType"/>
    <xsd:element name="Get_Translatable_Tenant_Data_Public_Response" type="wd:Get_Translatable_Tenant_Data_Public_ResponseType"/>
    <xsd:element name="Put_Translatable_Tenant_Data_Public_Request" type="wd:Put_Translatable_Tenant_Data_Public_RequestType"/>
    <xsd:element name="Put_Translatable_Tenant_Data_Public_Response" type="wd:Put_Translatable_Tenant_Data_Public_ResponseType"/>
    <xsd:element name="Workday_Common_Header" type="wd:Workday_Common_HeaderType"/>
    <xsd:attribute name="version" type="xsd:string" wd:fixed="v28.0"/>
    <xsd:simpleType name="RichText">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="User_LanguageReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="User_Language_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Unique_IdentifierReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="IID"/>
                    <wd:enumeration value="WID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="User_LanguageObjectIDType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:User_LanguageReferenceEnumeration" use="required">
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Unique_IdentifierObjectIDType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Unique_IdentifierReferenceEnumeration" use="required">
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="User_LanguageObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:User_LanguageObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Unique_IdentifierObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Unique_IdentifierObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Validation_FaultType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Validation_Error" type="wd:Validation_ErrorType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Processing_FaultType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Detail_Message" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Validation_ErrorType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Message" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Detail_Message" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Xpath" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Translatable_Class_Attribute_DataType">
        <xsd:annotation>
            <xsd:appinfo>
                <wd:Validation>
                    <wd:Validation_Message>Attribute is not translatable for specified Class.</wd:Validation_Message>
                </wd:Validation>
                <wd:Validation>
                    <wd:Validation_Message>Invalid Attribute Reference.</wd:Validation_Message>
                </wd:Validation>
                <wd:Validation>
                    <wd:Validation_Message>Invalid Class Name.</wd:Validation_Message>
                </wd:Validation>
                <wd:Validation>
                    <wd:Validation_Message>Class is not translatable.</wd:Validation_Message>
                </wd:Validation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="User_Language_Reference" type="wd:User_LanguageObjectType">
                <xsd:annotation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" name="Class_Name" type="xsd:string">
                <xsd:annotation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Attribute_Reference" type="wd:Attribute_ReferenceType">
                <xsd:annotation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Translated_Value_for_Instance_Data" type="wd:Translated_Value_for_Instance_DataType">
                <xsd:annotation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Translated_Value_for_Instance_DataType">
        <xsd:annotation>
            <xsd:appinfo>
                <wd:Validation>
                    <wd:Validation_Message>Instance Reference is not valid. Only tenanted instances can be uploaded for translation.</wd:Validation_Message>
                </wd:Validation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Instance_Reference" type="wd:InstanceObjectType">
                <xsd:annotation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Base_Value" type="xsd:string">
                <xsd:annotation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Translated_Value" type="xsd:string">
                <xsd:annotation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Rich_Base_Value" type="wd:RichText">
                <xsd:annotation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Translated_Rich_Value" type="wd:RichText">
                <xsd:annotation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Attribute_ReferenceType">
        <xsd:annotation>
            <xsd:appinfo>
                <wd:Validation>
                    <wd:Validation_Message>Invalid Namespace URI.</wd:Validation_Message>
                </wd:Validation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" name="Name" type="xsd:string">
                <xsd:annotation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Namespace_URI" type="xsd:string">
                <xsd:annotation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Response_FilterType">
        <xsd:annotation>
            <xsd:appinfo>
                <wd:Validation>
                    <wd:Validation_Message>Page Number cannot be zero.</wd:Validation_Message>
                </wd:Validation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="As_Of_Effective_Date" type="xsd:date">
                <xsd:annotation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="As_Of_Entry_DateTime" type="xsd:dateTime">
                <xsd:annotation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Page">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="12"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Count">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="3"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Response_ResultsType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Total_Results">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="12"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Total_Pages">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="12"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Page_Results">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="12"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Page">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="12"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Get_Translatable_Tenant_Data_Public_RequestType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request_References" type="wd:Translatable_Tenant_Data_Public_Request_ReferencesType">
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Request_Criteria" type="wd:Translatable_Tenant_Data_Public_Request_CriteriaType"/>
            <xsd:element minOccurs="0" name="Response_Filter" type="wd:Response_FilterType">
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute ref="wd:version"/>
    </xsd:complexType>
    <xsd:complexType name="Translatable_Tenant_Data_Public_Request_ReferencesType">
        <xsd:sequence>
            <xsd:element name="Translatable_Class_Reference" type="wd:Unique_IdentifierObjectType">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Translatable_Tenant_Data_Public_Request_CriteriaType">
    </xsd:complexType>
    <xsd:complexType name="Get_Translatable_Tenant_Data_Public_ResponseType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Request_Criteria" type="wd:Translatable_Tenant_Data_Public_Request_CriteriaType"/>
            <xsd:element minOccurs="0" name="Response_Filter" type="wd:Response_FilterType"/>
            <xsd:element minOccurs="0" name="Response_Results" type="wd:Response_ResultsType"/>
            <xsd:element minOccurs="0" name="Response_Data" type="wd:Translatable_Tenant_Data_Public_Response_DataType">
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute ref="wd:version"/>
    </xsd:complexType>
    <xsd:complexType name="Put_Translatable_Tenant_Data_Public_RequestType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Translatable_Tenant_Data_Public_Data" type="wd:Translatable_Class_Attribute_DataType"/>
        </xsd:sequence>
        <xsd:attribute ref="wd:version"/>
    </xsd:complexType>
    <xsd:complexType name="Put_Translatable_Tenant_Data_Public_ResponseType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="User_Language_Reference" type="wd:User_LanguageObjectType">
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute ref="wd:version"/>
    </xsd:complexType>
    <xsd:complexType name="Translatable_Tenant_Data_Public_Response_DataType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Translatable_Tenant_Data_Public" type="wd:Translatable_User_Language_PublicType">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Translatable_User_Language_PublicType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Translatable_Tenant_Data_Public_Data" type="wd:Translatable_Class_Attribute_DataType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Instance_IDType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="parent_id" type="xsd:string"/>
                <xsd:attribute name="parent_type" type="xsd:string"/>
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="InstanceObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Instance_IDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Workday_Common_HeaderType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Include_Reference_Descriptors_In_Response" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
