src/test/resources/wsdl/no-schema-location/0.xsd

<xs:schema xmlns:tns="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
    <xs:import namespace="http://schemas.datacontract.org/2004/07/OrderService"/>
    <xs:element name="CreateOrder">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OrderService" minOccurs="0" name="order" type="q1:Order"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateOrderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="CreateOrderResult" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateOrder">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OrderService" minOccurs="0" name="order" type="q2:Order"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateOrderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="UpdateOrderResult" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrackingNumber">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="orderId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrackingNumberResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetTrackingNumberResult" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetOrders">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="trackingNumber" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetOrdersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OrderService" minOccurs="0" name="GetOrdersResult" type="q3:ArrayOfOrder"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetOrderById">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="orderId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetOrderByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OrderService" minOccurs="0" name="GetOrderByIdResult" type="q4:Order"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConfirmOrder">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="orderId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConfirmOrderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ConfirmOrderResult" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
